<h1 class="h2"> Pay Fees </h1><br>

<form>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Student Id</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="1">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="inputPassword" placeholder="Date">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Fees Amount</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPassword" placeholder="Fees Amount">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <!-- <input type="number" class="form-control" id="inputPassword" placeholder="Status"> -->

            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
                Paid
            </label>
            &nbsp;&nbsp;
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
            <label class="form-check-label" for="exampleRadios2">
                UnPaid
            </label>

        </div>
    </div>
    <br>

    <div class="form-group row">
        <!-- <label for="inputPassword" class="col-sm-2 col-form-label">Status</label> -->
        <div class="col-sm-10">

            <button class="btn btn-primary profile-button" type="button"> Submit </button>

        </div>
    </div>
    <br>

</form>