<body style="background-image: url('/assets/school.jpg'); background-size: 100% 100%;  background-repeat: no-repeat;">
    <br><br>
    <!-- Navbar -->
    <!-- <nav style="height: 60px;">
        <label class="logo"></label>
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
        </ul>
    </nav> -->

    <!-- Container -->
    <div class="container">
        <form style="background-color: #efecec;">
            <div class="input">
                <h1> Login</h1>
                <label>Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="username" required>

            </div>
            <div class="input">
                <label>Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" required>

            </div>

            <div class="input">
                <label style="margin-right: 20px;">User Type :</label>
                <select id="user" name="users" [(ngModel)]="usertype">
                    <option value="admin">Admin staff</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>


            </div>
            <div class="input">
                <input type="button" class="btn" (click)="LoginUser()" value="login">
                <div class="signup_link">
                    Not Registered? <a [routerLink]="['/student-register']">Register as Student</a> &nbsp;&nbsp; | <a [routerLink]="['/teacher-register']">Register as Teacher </a>

                </div>

            </div>

        </form>
    </div>

    <br><br>
</body>