<!-- <app-header></app-header> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/header.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
                <h5>Welcome to School</h5>
            </div>
        </div>
    </div>
</div>

<app-all-teachers></app-all-teachers>

<br><br>

<!-- <app-footer></app-footer> -->

<!-- Footer -->
<!-- <div class="row">
    <footer class="paer font-small bluege-foot">
        <div class="footer-copyright text-center py-3">Lorem ipsum dolor sit amet.
            <a href="/"> ABC!!</a>
        </div>

    </footer>
</div> -->